Q1-What are data structures, and why are they important?

Ans: Data structures are ways to store and organize data efficiently. They are important because they optimize operations like searching, sorting, and accessing data.
Q2-Explain the difference between mutable and immutable data types with examples.
Ans: Mutable data types (e.g., lists, dictionaries) allow modifications, while immutable data types (e.g., strings, tuples) do not.
lst = [1, 2, 3]
lst.append(4)  # Allowed

# Immutable tuple
tpl = (1, 2, 3)
tpl[0] = 4  # Error

Q3-What are the main differences between lists and tuples in Python?
Ans: Lists are mutable, slower, and use more memory, while tuples are immutable, faster, and memory-efficient.

Q4-Describe how dictionaries store data.

Ans: Dictionaries store data as key-value pairs using a hash table, enabling fast retrieval based on unique keys.

q5-Why might you use a set instead of a list in Python?

Ans: Sets store only unique elements and allow fast membership testing, making them useful for removing duplicates.

q6-What is a string in Python, and how is it different from a list?
Ans: A string is an immutable sequence of characters, while a list is mutable and can contain elements of different types.

q7-How do tuples ensure data integrity in Python?
Ans: Tuples are immutable, preventing accidental modifications and ensuring that data remains unchanged.

q8-What is a hash table, and how does it relate to dictionaries in Python?
Ans: A hash table is a data structure that maps keys to values using a hashing function. Python dictionaries use hash tables for fast lookups.

q9-Can lists contain different data types in Python?

Ans: Yes, lists in Python can store elements of different data types.
my_list = [1, "hello", 3.14, True]

q10-Explain why strings are immutable in Python.

Ans: Strings are immutable to enhance security, prevent unintended modifications, and optimize memory usage through interning.

q11-What advantages do dictionaries offer over lists for certain tasks?

Ans: Dictionaries provide fast lookups using keys (O(1) time complexity), whereas lists require linear searches (O(n) time complexity).

q12-Describe a scenario where using a tuple would be preferable over a list.

Ans: Tuples are preferable when defining constants (e.g., coordinates: (x, y)) to prevent accidental modifications.

q13-How do sets handle duplicate values in Python?

Ans: Sets automatically remove duplicate values, ensuring that all elements are unique.
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

q14-How does the “in” keyword work differently for lists and dictionaries?

Ans: For lists, in checks for values linearly (O(n)), while for dictionaries, it checks for keys using a hash table (O(1)).

q15-Can you modify the elements of a tuple? Explain why or why not.
Ans: No, tuples are immutable, meaning their elements cannot be changed after creation.

q16-What is a nested dictionary, and give an example of its use case?

Ans: A nested dictionary is a dictionary within another dictionary. It is useful for storing hierarchical data like student records.
students = {"Alice": {"Math": 90, "Science": 85}, "Bob": {"Math": 80, "Science": 88}}

q17-Describe the time complexity of accessing elements in a dictionary.
Ans: Accessing elements in a dictionary has an average time complexity of O(1) due to hash table indexing.

q18-In what situations are lists preferred over dictionaries?

Ans: Lists are preferred when maintaining order, storing sequential data, or when indexing by position is required.

q19-Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans: Dictionaries before Python 3.7 were unordered because they used hash tables, meaning retrieval order was not guaranteed.

q20-Explain the difference between a list and a dictionary in terms of data retrieval.

Ans: Lists retrieve data by index (O(1)), while dictionaries retrieve data by key (O(1) average case but O(n) worst case).

In [1]:
#q1-Write a code to create a string with your name and print it.
name = "YourName"
print(name)

YourName

In [2]:
#q2-Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [3]:
#q3-Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
print(text[:3])

Pyt

In [4]:
#q4-Write a code to convert the string "hello" to uppercase.
text = "hello"
print(text.upper())

HELLO

In [5]:
#q5-Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [6]:
#q6-Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#q7-Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
#q8-Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
#q9-Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [11]:
#q10-Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [12]:
#q11- Write a code to create a tuple with the elements 100, 200, 300 and print it.

numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [13]:
#q12-Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])  # 'blue'

blue

In [14]:
#q13Find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [15]:
#q14Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [16]:
#Q15. Create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)  # False

False

In [17]:
#q16- Create a set with the elements 'a', 'b', 'c' and print it.
letters = {'a', 'b', 'c'}
print(letters)

{'b', 'c', 'a'}

In [18]:
#q17. Clear all elements from the set {1, 2, 3, 4, 5}.
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)  # Empty set {}

set()

In [19]:
#Remove the element 4 from the set {1, 2, 3, 4}.
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)  # {1, 2, 3}

{1, 2, 3}

In [20]:
#q19. Find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))  # {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [21]:
#q20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))  # {2, 3}

{2, 3}

In [22]:
#q21-21. Create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [23]:
#22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
#23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person["name"])  # 'Alice'

Alice

In [25]:
#q24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [26]:
#q25  Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)  # True

True

In [27]:
#q26 Create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 10, "b": 20}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 10, 'b': 20}

In [28]:
#q27 Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[21, 26, 53, 85, 97]

In [29]:
#q28 Create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])  # 'date'

date

In [30]:
#29Combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
#q30
# List of strings
string_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert list to set (removes duplicates)
string_set = set(string_list)

# Print the result
print(string_set)

{'apple', 'banana', 'cherry'}